#display {
  align-self: flex-start;
  color: lightcyan;
  border: 5px #557975;
  background-color: DarkSlateGray;
  border-style: outset;
  box-decoration-break: slice;
  float: left;
  font-size: 20px;
}
#score {
  align-self: flex-start;
  color: lightcyan;
  border: 5px #557975;
  background-color: DarkSlateGray;
  border-style: outset;
  box-decoration-break: slice;
  float: left;
  font-size: 20px;
}
