h1 {
  font-style: oblique;
  font-size: 40px;
}
#display {
  align-self: flex-start;
  color: lightcyan;
  border: 5px #557975;
  background-color: DarkSlateGray;
  border-style: outset;
  box-decoration-break: slice;
  float: left;
  font-size: 20px;
}
#score {
  align-self: flex-start;
  color: lightcyan;
  border: 5px #557975;
  background-color: DarkSlateGray;
  border-style: outset;
  box-decoration-break: slice;
  float: left;
  font-size: 20px;
}
body {
  background-color: silver;
}
footer {
  text-align: center;
  margin: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-weight: bold;
  font-size: 12px;
  color: brown;
}
